.navbar {
    background-color: #41a0b7;
    color: black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    padding: 0.3%;
    justify-content: flex-start;
}

.navbar img {
    width: 30px;
    margin-right: 10px;
}